h1,
p {
  font-family: Lato;
  overflow-wrap: anywhere;
  width: 70%;
}
#root {
  margin-left: 5%;
}
.buttonType {
  width: 30%;
  margin: 20px;
  background-color: brown;
}

.textareaType {
  width: 70%;
  margin: 5px;
  width: 100%;
  padding: 12px 20px;
}

.inputType {
  width: 70%;
  margin: 20px;
  width: 100%;
  padding: 12px 20px;
}

.selectType {
  background-color: darkcyan;
  margin-bottom: 20px;
  height: 50px;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
